<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ZefixServiceBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.e-service.admin.ch:80/ws-zefix-1.7/ZefixService" binding="basicHttpBinding" bindingConfiguration="ZefixServiceBinding" contract="ZefixReference.ZefixServicePortType" name="ZefixServicePort"/>
    </client>
  </system.serviceModel>
</configuration>
