<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.PDF" version="18.8.0" targetFramework="net461" />
  <package id="Elasticsearch.Net" version="6.2.0" targetFramework="net461" />
  <package id="Google.Apis" version="1.35.1" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.35.1" targetFramework="net461" />
  <package id="Google.Apis.Customsearch.v1" version="1.35.1.1322" targetFramework="net461" />
  <package id="NEST" version="6.2.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net461" />
</packages>